@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
body {
  margin:0;
  padding:0;
  background-color:#f5f5f5;
  font-family:'Montserrat';
  overflow-x:block;
}
.header {
  padding-bottom: 100px;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
}
.subheading {
  font-family:'Raleway';
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat';
  font-weight: bold;
  color:#6B6B6B;
/*   #2764c6 */
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 40px;
}
h5 {
  font-size: 30px;
}
h6{
  font-size: 20px;
}
p {
  font-size:25px;
  line-height:40px;
}
.container {
  position: relative;
  margin: auto;
  width:auto;
  height: auto;
  padding-left:100px;
  padding-right:100px;
  line-height:30px;
}
/* Code Styles */
pre code {
  display: block;
  padding: 1rem 1.5rem;
  font-size:15px;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
pre code::after {
  content: attr(lang);
  font-size: 1.5rem;
  color: #BFBFBF;
  position: absolute;
  top: 5px;
  right: 10px;
}

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}
/* Code highlighting */
.function {
  color:#5f91e2;
}
.parentheses {
  color:#ef5d5d;
}
.com {
  color:#a5a2a2;
}
.quote {
  color:#b70505;
}
.tag {
  color:#317ef9;
}
.att {
  color:#4e8ef4;
}
.var {
  color:#2bd887;
}
.req {
  color:#317ef9;
}
.vname {
  color:#18c997;
}
footer {
  text-align:center;
  padding-top:40px;
  padding-bottom:40px;
}
.github-button {
  bottom:5%;
  right:5%;
  position:fixed;
}
.tweet{
  bottom:5%;
  right:5%;
  position: fixed;
  z-index: 100;
}
/* color: #f93434; color: #21e5ff; */
a{
  text-decoration: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: #f93434;
}
a:hover{
  text-decoration: none;
  color: #21e5ff;
}
a,visited{
  text-decoration: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: #f93434;
}
